@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./normalize.css");
@import url("./fontello.css");
*, *::before, *::after{
  box-sizing: border-box;
}
/* 숨김 컨테츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  /* 폴리곤 13번 즐겨찾기 */
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 링크스타일 나만의 패턴(자주쓰는)을 초기화 및 나만의 패턴적용*/
a{
  /* 부모로부터 상속 값의 색을 지정하겠다 */
  color: inherit;
  text-decoration: none;
  outline: none;
}
/* a라는 요소가 포커싱을 당했을때 */
a:focus{
  box-shadow: 0 0 5px 1px #296897;
}
html{
  font-size: 10px;
}
body{
  background: #fff;
  color: #181818;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  font-weight: 300;
}
/* 컨테이너 */
.container{
  background: url(./images/bg_flower.png) no-repeat 50% 0,
  #aaa linear-gradient(#ccc,#eee 35%,#fff 65%,#fff 100%);
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
.logo{
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 60px;
  top: 45px;
}
/* 멤버 링크 */
.member {
  margin: 0 23px 0 30px;
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  font-size: 0;
}

.member li, .member a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
  padding-top: 2px;
  padding-bottom: 2px;
}
.member a{
  padding: 0.5em;
  text-transform: uppercase;
}
.navigation{
  padding-bottom: 32px;
}
/* 메인 메뉴 */
.menu {
  height: 49px;
  background: rgb(246,111,14);
  background: linear-gradient(180deg, rgba(246,111,14,1) 0%, rgba(245,85,4,1) 35%, rgba(245,85,4,1) 70%, rgba(246,111,14,1) 100%);
  margin: 0 30px;
  padding-left: 230px;
  border-top: 2px solid #000;
  border-radius: 1em;
  /* 앞에 쩜 표시 삭제 list-style: none;*/
  list-style: none;
  border-radius: 0 0 5px 5px;
}
.menu-item{
  float: left;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;

}
.btn-menu{
  display: block;
  padding: 1em 1.45em;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  /* 네온사인효과 활용가능 */
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000,0 -1px 0 #000;

}
.btn-menu:focus{
  box-shadow: initial;
}
/* 동적인 클래스 */
.menu-act .btn-menu{
  color: #ff0;
}
/* after 가상요소를 통한 검은색 바 디자인 */
.menu-act .btn-menu::after{
  content: "";
  display: block;
  border-top: 2px solid #181818;
  position: relative;
  top: 1em;
  /* border-bottom: 2px solid #181818; */
}
.sub-menu{
  display: none;
  position: absolute;
  padding-left: 0;
  list-style: none;
  top: 49px;
  white-space: nowrap;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;

}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;

}
.menu-act .sub-menu{
  display: block;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a{
  /* background: pink; */
  padding: 0.5em 0.5em 0.5em 0;
}

/* 헤더 */
.header {
  background: #fff;
  position: relative;
  /* 10vh <<< 화면의 10프로 */
  border-radius: 0 0 15px 15px;
  padding-bottom: 5px;
}
/* 비쥬얼 */
/* 비쥬얼 애니메이션 */
@keyframes textAni{
  0%{
  font-size: 12px;
  color: rgba(0,0,0,0);
  /* margin-left: 0;
  margin-top: 0; */
  /* padding-left: 0;
  padding-top: 0; */
  transform: translate(0,0);
  }
  100%{
  font-size: 24px;
  color: rgba(0,0,0,1);
  /* margin-left: 400px;
  margin-top: 75px; */
  /* padding-left: 400px;
  padding-top: 75px; */
  transform: translate(400px,75px);
  }
}
@keyframes bgAni{
  0%{
  opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.visual{
  height: 120px;
  position: relative;
  
}
.visual::before, .visual::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: bgAni;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  
}
.visual::before{
  background: url("./images/ani_flower_01.png") no-repeat 0 -10px,
  url("./images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after{
  /*겹쳐져있는 것을 확인 투명도 background: hsla(200, 50%, 50%, 0.5); */
  background: url("./images/ani_flower_03.png") no-repeat 300px 0px,
  url("./images/ani_flower_04.png") no-repeat 800px 0;
  animation-delay: 1000ms;
}
.visual-text{
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  animation-name: textAni;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
/* 메인컨텐츠 */
.main {
  background: #fff;
  /* height: 60vh; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* 단축표기법 */
  /* flex 활용 코드 */
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-around; */
  padding: 30px 15px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.group{
  float: left;
  margin-left:  15px;
  margin-right: 15px;
  min-height: 400px;
}
.group1{
  /* background: teal; */
  /* 배치순서 order: 1; */
  width: 250px;

}
.group2{
  /* background: tomato; */
  width: 380px;

}
.group3{
  /* background: yellowgreen; */
  width: 190px;
  
}
.login-heading{
  /* display: block;
  padding: 1em 1em;
  margin: 0 0 -1em 0.5em; */
  color: yellow;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 10px 10px;
}
.login{
  background: radial-gradient(circle at right top, rgb(253, 128, 38),
   rgba(245,85,4,1));
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 grey;
  padding: 10px 10px;
}
.login-form{
  background: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #aaa;
  position: relative;
  padding-bottom: 5px;
}
.user-email, .user-pw{
  margin-bottom: 5px;
}
[for="userEmail"],[for=userPw]{
  display: inline-block;
  width: 4em;
}
[name="userId"],[name="userPwd"]{
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 0 0.5em;
}
.btn-login{
  position: absolute;
  background: radial-gradient(circle at right top, rgb(253, 128, 38),
   rgba(245,85,4,1));
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 0;
}
.sign{
  background: #fff;
  padding: 10px 10px 10px 5px;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.sign a::before{
  color: rgb(212,92,24);
}
/* 로그인 */
/* 유효성 검사 배너 */
.validation-list{
  list-style: none;
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 0;
  
  /* margin: 10px; */
}
.validation-list a{
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  line-height: 30px;
  height: 30px;
  margin: 10px 0;
  background: url("./images/validation_icon.png") no-repeat 20px 50%, linear-gradient(rgb(139, 139, 139),rgb(204, 202, 202) 100%);
  padding-left: 45px; 
}
/* .validation-list li, .validation-list a{
  background: #aaa linear-gradient(rgb(139, 139, 139),rgb(204, 202, 202) 100%);
  border-radius: 15px;
  display: inline-block;
  padding: 5px;
  width: 250px;
} */

/* 웹 관련 용어 */
/* .etc{
  background: linear-gradient(rgb(139, 139, 139),rgb(204, 202, 202) 100%);
  border-radius: 10px;
}
.etc-title{
 padding: 20px;
}
.etc-list{
  background: url("/images/web_standards.gif") no-repeat 20px 50%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.etc-list li{
  list-style: none;
} */
/* 슬로건 */
.slogan{
  background: lime;
  height: 10vh;
}
/* 푸터 */
.footer-bg{
  background: #aaa linear-gradient(#ccc,#eee 35%,#fff 65%,#fff 100%);

}
.footer{
  background: pink;
  height: 10vh;
}